@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


/* Set the font family and background color for the whole page */
body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  color:#f93f23;
  margin-bottom: 1rem;
}

h2 {
  font-family: bold 0.8125rem/normal "Renner",sans-serif;
  font-size: 2.5rem;
  color: #f93f23;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  color: #f93f23;
  margin-bottom: 0.5rem;
}

h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 0.5rem;
}

h5 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.25rem;
  color: #999;
  margin-bottom: 0.5rem;
}

h6 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 0.5rem;
}

p, ul, ol, li {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  margin-bottom: 1rem;
}






/* Style the header */
header {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #f93f23;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #333;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f68b1e;
}


/* Style the main sections */
.intro-section {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center;
}

.intro-section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.intro-section p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.intro-section .button {
  background-color: #006699;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 30px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.intro-section .button:hover {
  background-color: #003366;
}


/* Style the grid container and items */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {

  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}



.grid-item img {
  max-width: 100%;
}

.grid-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-item ul {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

.grid-item ol {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}
